#page-top.page-admin {
    background-image: url(./../images/11_51_51-thisisengineering-raeng-0jTZTMyGym8-unsplash-1920-blur.jpg);

    #wrapper > *:nth-child(2) {
        margin-top: 101px;
    }

    #wrapper > div > div > div > div > div.card-body.pb-0.text-white > div > i.fa {
        font-size: 2rem;
    }

    #wrapper > div > div > div > .card {
        height: auto;
    }

    #wrapper > div > div > div > div > div.card-body.pb-4.text-white.text-center > div.container.mt-100 > div > div > .card {
        width: auto;
        max-width: 1100px;
    }

    #example-1 > tbody > tr > td {
        vertical-align: middle;
    }

    #wrapper > div > div > div > div > div.card-body.pb-4.text-white.text-center > div.container.mt-100 > div > div > div {
        background-color: transparent !important;
        height: auto;
    }

}