$grey-pale: #eaeaea;

* {
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    ;
}

html,
body {
    margin: 0;
    padding: 0;
    line-height: normal;
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;

    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #eee;
}

.container {
    align-content: center;
}

.card {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}
