* {
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee;
}

.container {
  -ms-flex-line-pack: center;
      align-content: center;
}

.card {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

h3 {
  font-size: 1.2rem;
}

#page-top {
  background-size: cover;
}

#page-top #wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

#page-top .card a {
  color: #8bb0dd;
}

#page-top .card .links {
  color: white;
}

.breadcrumb-container .breadcrumb {
  background-color: transparent;
}

.breadcrumb-container .breadcrumb a {
  color: #8bb0dd;
}

.breadcrumb-container .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: .5rem;
  color: lightblue;
  content: "\f054";
  font: normal normal normal 14px/1 FontAwesome;
}

#page-top.page-login {
  background-image: url(./../images/11_51_51-thisisengineering-raeng-0jTZTMyGym8-unsplash-1920.jpg);
  background-size: cover;
}

#page-top.page-login #wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

#page-top.page-login .card a {
  color: #8bb0dd;
}

#page-top.page-login .card .links {
  color: white;
}

.input-group-prepend span {
  width: 50px;
  background-color: #8bb0dd;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  -webkit-box-shadow: 0 0 0 0 !important;
          box-shadow: 0 0 0 0 !important;
}

.remember {
  color: white;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
  color: black;
  background-color: #8bb0dd;
  width: 100px;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

#page-top.page-dashboard {
  background-image: url(./../images/11_51_51-thisisengineering-raeng-0jTZTMyGym8-unsplash-1920-blur.jpg);
}

#page-top.page-dashboard #wrapper > .container {
  padding-top: 200px;
}

#page-top.page-dashboard #wrapper > div > div > div > div > div.card-body.pb-0.text-white > div > i.fa {
  font-size: 2rem;
}

.badge-container--text {
  font-size: 1.2rem;
  border-left: 1px solid grey;
  margin-left: 1rem;
}

@media (min-width: 768px) {
  #navbarCollapse {
    padding: 0 1rem;
  }
  #navbarCollapse > ul {
    width: 100%;
  }
  #navbarCollapse > ul > li:nth-child(4) {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
  }
}

#page-top.page-reports {
  background-image: url(./../images/11_51_51-thisisengineering-raeng-0jTZTMyGym8-unsplash-1920-blur.jpg);
}

#page-top.page-reports #wrapper > *:nth-child(2) {
  margin-top: 101px;
}

#page-top.page-reports #wrapper > div > div > div > div > div.card-body.pb-0.text-white > div > i.fa {
  font-size: 2rem;
}

#page-top.page-reports #wrapper > div > div > div > .card {
  height: auto;
}

.badge-container--text {
  font-size: 1.2rem;
  border-left: 1px solid grey;
  margin-left: 1rem;
}

@media (min-width: 768px) {
  #navbarCollapse {
    padding: 0 1rem;
  }
  #navbarCollapse > ul {
    width: 100%;
  }
  #navbarCollapse > ul > li:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
  }
}

#page-top.page-fees {
  background-image: url(./../images/11_51_51-thisisengineering-raeng-0jTZTMyGym8-unsplash-1920-blur.jpg);
}

#page-top.page-fees #wrapper > *:nth-child(2) {
  margin-top: 101px;
}

#page-top.page-fees #wrapper > div > div > div > div > div.card-body.pb-0.text-white > div > i.fa {
  font-size: 2rem;
}

#page-top.page-fees #wrapper > div > div > div > .card {
  height: auto;
}

#page-top.page-fees #wrapper > div > div > div > div > div.card-body.pb-4.text-white.text-center > div > div > div > .card {
  background-color: transparent;
}

#page-top.page-fees #wrapper > div > div > div > div > div.card-body.pb-4.text-white.text-center .card {
  background-color: transparent !important;
  border: none;
  height: auto;
}

#page-top.page-fees input {
  width: auto;
}

#page-top.page-fees #wrapper > div > .row > div {
  max-width: 500px;
}

.table-responsive .mt-100 {
  margin-top: 100px;
}

.table-responsive .container-fluid {
  margin-top: 50px;
}

.table-responsive body {
  background-color: #f2f7fb;
}

.table-responsive .card {
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 0 rgba(43, 43, 43, 0.1), 0 11px 6px -7px rgba(43, 43, 43, 0.1);
  box-shadow: 0 0 5px 0 rgba(43, 43, 43, 0.1), 0 11px 6px -7px rgba(43, 43, 43, 0.1);
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.table-responsive .card .card-header {
  background-color: transparent;
  border-bottom: none;
  padding: 20px;
  position: relative;
}

.table-responsive .card .card-block {
  padding: 1.25rem;
}

.table-responsive .table-responsive {
  display: inline-block;
  width: 100%;
  overflow-x: auto;
}

.table-responsive .card .card-block table tr {
  padding-bottom: 20px;
}

.table-responsive .table > thead > tr > th {
  border-bottom-color: #ccc;
}

.table-responsive .table th {
  padding: 1.25rem 0.75rem;
}

.table-responsive td,
.table-responsive th {
  white-space: nowrap;
}

.table-responsive .tabledit-input:disabled {
  display: none;
}

.table-responsive .btn-primary,
.table-responsive .sweet-alert button.confirm,
.table-responsive .wizard > .actions a {
  background-color: #4099ff;
  border-color: #4099ff;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

.table-responsive .btn {
  border-radius: 2px;
  text-transform: capitalize;
  font-size: 15px;
  padding: 10px 19px;
  cursor: pointer;
}

.table-responsive .table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-responsive table {
  background-color: white;
}

#page-top.page-admin {
  background-image: url(./../images/11_51_51-thisisengineering-raeng-0jTZTMyGym8-unsplash-1920-blur.jpg);
}

#page-top.page-admin #wrapper > *:nth-child(2) {
  margin-top: 101px;
  max-width: 1100px;
}

#page-top.page-admin #wrapper > div > div > div > div > div.card-body.pb-0.text-white > div > i.fa {
  font-size: 2rem;
}

#page-top.page-admin #wrapper > div > div > div > .card {
  height: auto;
}

#page-top.page-admin #wrapper > div > div > div > div > div.card-body.pb-4.text-white.text-center > div.container.mt-100 > div > div > .card {
  width: auto;
  max-width: 1100px;
}

#page-top.page-admin #example-1 > tbody > tr > td {
  vertical-align: middle;
}

#page-top.page-admin #wrapper > div > div > div > div > div.card-body.pb-4.text-white.text-center > div.container.mt-100 > div > div > div {
  background-color: transparent !important;
  height: auto;
}
/*# sourceMappingURL=main.css.map */