* {
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee;
}

.container {
  -ms-flex-line-pack: center;
      align-content: center;
}

.card {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

#page-top {
  background-size: cover;
}

#page-top #wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

#page-top .card a {
  color: #8bb0dd;
}

#page-top .card .links {
  color: white;
}

.breadcrumb-container .breadcrumb {
  background-color: transparent;
}

.breadcrumb-container .breadcrumb a {
  color: #8bb0dd;
}

.breadcrumb-container .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: .5rem;
  color: lightblue;
  content: "\f054";
  font: normal normal normal 14px/1 FontAwesome;
}

#page-top.page-login {
  background-image: url(./../images/11_51_51-thisisengineering-raeng-0jTZTMyGym8-unsplash-1920.jpg);
  background-size: cover;
}

#page-top.page-login #wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

#page-top.page-login .card a {
  color: #8bb0dd;
}

#page-top.page-login .card .links {
  color: white;
}

.input-group-prepend span {
  width: 50px;
  background-color: #8bb0dd;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  -webkit-box-shadow: 0 0 0 0 !important;
          box-shadow: 0 0 0 0 !important;
}

.remember {
  color: white;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
  color: black;
  background-color: #8bb0dd;
  width: 100px;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

#page-top.page-dashboard {
  background-image: url(./../images/11_51_51-thisisengineering-raeng-0jTZTMyGym8-unsplash-1920-blur.jpg);
}

#page-top.page-dashboard #wrapper > .container {
  padding-top: 200px;
}

#page-top.page-dashboard #wrapper > div > div > div > div > div.card-body.pb-0.text-white > div > i.fa {
  font-size: 2rem;
}

.badge-container--text {
  font-size: 1.2rem;
  border-left: 1px solid grey;
  margin-left: 1rem;
}

@media (min-width: 768px) {
  #navbarCollapse {
    padding: 0 1rem;
  }
  #navbarCollapse > ul {
    width: 100%;
  }
  #navbarCollapse > ul > li:nth-child(4) {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
  }
}

#page-top.page-reports {
  background-image: url(./../images/11_51_51-thisisengineering-raeng-0jTZTMyGym8-unsplash-1920-blur.jpg);
}

#page-top.page-reports #wrapper > *:nth-child(2) {
  margin-top: 101px;
}

#page-top.page-reports #wrapper > div > div > div > div > div.card-body.pb-0.text-white > div > i.fa {
  font-size: 2rem;
}

#page-top.page-reports #wrapper > div > div > div > .card {
  height: auto;
}

.badge-container--text {
  font-size: 1.2rem;
  border-left: 1px solid grey;
  margin-left: 1rem;
}

@media (min-width: 768px) {
  #navbarCollapse {
    padding: 0 1rem;
  }
  #navbarCollapse > ul {
    width: 100%;
  }
  #navbarCollapse > ul > li:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
  }
}
/*# sourceMappingURL=main.css.map */